body{
  background-color: #ffff99;
  margin:3%;
}
#heading {
  margin-top: 5%;
  font-size: 4em;
  text-align: center;
}
#i1{
  margin-top: 10px;
  font-size: 2em;
  text-align: center;
  margin-left: 415px;
  position: absolute;
}
#i2{
  margin-top: 10px;
  font-size: 2em;
  text-align: center;
  margin-left: 545px;
  position: absolute;
}
#i3{
  margin-top: 10px;
  font-size: 2em;
  text-align: center;
  margin-left: 675px;
  position: absolute;
}
#i4{
  margin-top: 10px;
  font-size: 2em;
  text-align: center;
  margin-left: 800px;
  position: absolute;
}
#e1{
  margin-top: 50px;
  font-size: 3em;
  text-align: center;
  margin-left: 415px;
  position: absolute;
}

#load{
  margin-left: 950px;
  margin-top: 50px;
   background-color: #ffff99; 
    color: black; 
    border: 2px solid #ff471a;
    width: 100px;
    height: 50px;
    font-size: 1.5em;
}
#load:hover {
    background-color: #ff471a;
    color: white;
    font-size: 1.5em;
}
#days1{
  border: solid 0.3em #ff5c33;
  box-shadow: inset 0 0 0 0.3em #ff471a;
  width: 2em;
  height: 2em;
  margin-left: 30%;
  margin-top: 50px;
  font-size: 2em;
  text-align: center;
  position: absolute;
  
}
#hours1{
  border: solid 0.3em #ff5c33;
  box-shadow: inset 0 0 0 0.3em #ff471a;
  width: 2em;
  height: 2em;
  margin-left: 40%;
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
position: absolute;
}
#mins1{
  border: solid 0.3em #ff5c33;
  box-shadow: inset 0 0 0 0.3em #ff471a;
  width: 2em;
  height: 2em;
  margin-left: 50%;
  font-size: 2em;
  text-align: center;
  margin-top:50px;
position: absolute;
  
}
#secs1{
  border: solid 0.3em #ff5c33;
  box-shadow: inset 0 0 0 0.3em #ff471a;
  width: 2em;
  height: 2em;
  margin-left: 60%;
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
position: absolute;
  
}
.days{
  //border: solid 0.5em #ff5c33;
  //box-shadow: inset 0 0 0 0.5em #ff471a;
  width: 3em;
  height: 3em;
  margin-left: 350px;
  font-size: 4em;
  text-align: center;
  margin-top: 140px;
position: absolute;

}
.hours{
  //border: solid 0.5em #ff5c33;
  //box-shadow: inset 0 0 0 0.5em #ff471a;
  width: 3em;
  height: 3em;
  margin-left: 500px;
  font-size: 4em;
  text-align: center;
  margin-top: 140px;
position: absolute;
}
.min{
  //border: solid 0.5em #ff5c33;
  //box-shadow: inset 0 0 0 0.5em #ff471a;
  width: 3em;
  height: 3em;
  
  margin-left: 50%;
margin-top: 140px;
  font-size: 4em;
  text-align: center;
  
  margin-left: 650px;
margin-top: 140px;
position: absolute;
}
.sec{
  //border: solid 0.5em #ff5c33;
  //box-shadow: inset 0 0 0 0.5em #ff471a;
  width: 3em;
  height: 3em;
  margin-left: 850px;
  font-size: 4em;
  text-align: bottom;
  margin-top: 140px;
position: absolute;
}
#c1{
  font-size: 4em;
  margin-left: 500px;
margin-top: 140px;
position: absolute;
}
#c2{
  font-size: 4em;
  margin-left: 650px;
margin-top: 140px;
position: absolute;
}
#c3{
  font-size: 4em;
  margin-left: 800px;
margin-top: 140px;
position: absolute;
}
#start{
  margin-left: 1000px;
  margin-top: 120px;
   background-color: #ffff99; 
    color: black; 
    border: 2px solid #ff471a;
    width: 100px;
    height: 50px;
    font-size: 1.5em;
}
#start:hover{
  background-color: #ff471a;
    color: white;
    font-size: 1.5em;
}
#stop{
  margin-left: 1000px;
  margin-top: 20px;
   background-color: #ffff99; 
    color: black; 
    border: 2px solid #ff471a;
    width: 100px;
    height: 50px;
    font-size: 1.5em;
}
#stop:hover{
  background-color: #ff471a;
    color: white;
    font-size: 1.5em;
}
#reset{
  margin-left: 1000px;
  margin-top: 20px;
   background-color: #ffff99; 
    color: black; 
    border: 2px solid #ff471a;
    width: 100px;
    height: 50px;
    font-size: 1.5em;
}
#reset:hover{
  background-color: #ff471a;
    color: white;
    font-size: 1.5em;
}